@media screen and (min-width: 1200px){
  .section__plans__items__item.big-plan{
    border:3px solid #0f87ca;
    min-height:444px;
    margin:0 -2px;
    z-index:30;
  }
}

@media screen and (max-width:768px){
    .section{
      &__head{
        padding-top:241px;
      }
    }
	.header {
	  &__logo{
		  margin-top:5px;
	  }
	  &__menu {
	    float: none;
	    background:#000;
	    margin:0 -15px;
	    & ul {
	      padding: 0;

	      & li {
	        display: block;
	        margin:0 15px 9px;
	        float:none;
	        background:none;
        	&:hover{
        		background:none;
        	}
	        & a{
	        	line-height:initial;
	        	padding:0;
	        	background:none;
	        	&:hover{
	        		background:none;
	        	}
	        }
	      }
	    }

	    & a,button {
	      color: #fff;
	      font-size: 13px;
	      outline:none;
	    }
		& .navbar-toggle{
			margin-top:6px;
		}
	  }
	}
}